In [ ]:
import numpy as np
import pandas as pd
import re
from nltk.corpus import stopwords
print
from nltk.stem.porter import PorterStemmer
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.model_selection import train_test_split
from sklearn.linear_model import PassiveAggressiveClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report
from sklearn.metrics import accuracy_score

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

# data preprocessing

In [ ]:
hindi_stopwords=pd.read_csv('/content/drive/MyDrive/internship_project/final_stopwords.txt')

In [ ]:
my_stopwords = open("/content/drive/MyDrive/internship_project/final_stopwords.txt", "r")
# reading the file
data = my_stopwords.read()
# replacing end splitting the text 
# when newline ('\n') is seen.
data_into_list = data.split("\n")
print(data_into_list)

['मैं', 'मुझको', 'मेरा', 'अपने आप को', 'हमने', 'हमारा', 'अपना', 'हम', 'आप', 'आपका', 'तुम्हारा', 'अपने आप', 'स्वयं', 'वह', 'इसे', 'उसके', 'खुद को', 'कि वह', 'उसकी', 'उसका', 'खुद ही', 'यह', 'इसके', 'उन्होने', 'अपने', 'क्या', 'जो', 'किसे', 'किसको', 'कि', 'ये', 'हूँ', 'होता है', 'रहे', 'थी', 'थे', 'होना', 'गया', 'किया जा रहा है', 'किया है', 'है', 'पडा', 'होने', 'करना', 'करता है', 'किया', 'रही', 'एक', 'लेकिन', 'अगर', 'या', 'क्यूंकि', 'जैसा', 'जब तक', 'जबकि', 'की', 'पर', 'द्वारा', 'के लिए', 'साथ', 'के बारे में', 'खिलाफ', 'बीच', 'में', 'के माध्यम से', 'दौरान', 'से पहले', 'के बाद', 'ऊपर', 'नीचे', 'को', 'से', 'तक', 'से नीचे', 'करने में', 'निकल', 'बंद', 'से अधिक', 'तहत', 'दुबारा', 'आगे', 'फिर', 'एक बार', 'यहाँ', 'वहाँ', 'कब', 'कहाँ', 'क्यों', 'कैसे', 'सारे', 'किसी', 'दोनो', 'प्रत्येक', 'ज्यादा', 'अधिकांश', 'अन्य', 'में कुछ', 'ऐसा', 'में कोई', 'मात्र', 'खुद', 'समान', 'इसलिए', 'बहुत', 'सकता', 'जायेंगे', 'जरा', 'चाहिए', 'अभी', 'और', 'कर दिया', 'रखें', 'का', 'हैं', 'इस', 'होता', 'करने', 'ने', 'बनी', 'तो', 'ही', 'हो', 'इसका', 'था', 'हुआ', 'वाले', 'बाद', 'लिए', 'सकते', 'इसमें', 'दो', 'वे', 'करते', 'कहा', 'वर्ग', 'कई', 'करें', 'होती', 'अपनी', 'उनके', 'यदि', 'हुई', 'जा', 'कहते', 'जब', 'होते', 'कोई', 'हुए', 'व', 'जैसे', 'सभी', 'करता', 'उनकी', 'तरह', 'उस', 'आदि', 'इसकी', 'उनका', 'इसी', 'पे', 'तथा', 'भी', 'परंतु', 'इन', 'कम', 'दूर', 'पूरे', 'गये', 'तुम', 'मै', 'यहां', 'हुये', 'कभी', 'अथवा', 'गयी', 'प्रति', 'जाता', 'इन्हें', 'गई', 'अब', 'जिसमें', 'लिया', 'बड़ा', 'जाती', 'तब', 'उसे', 'जाते', 'लेकर', 'बड़े', 'दूसरे', 'जाने', 'बाहर', 'स्थान', 'उन्हें ', 'गए', 'ऐसे', 'जिससे', 'समय', 'दोनों', 'किए', 'रहती', 'इनके', 'इनका', 'इनकी', 'सकती', 'आज', 'कल', 'जिन्हें', 'जिन्हों', 'तिन्हें', 'तिन्हों', 'किन्हों', 'किन्हें', 'इत्यादि', 'इन्हों', 'उन्हों', 'बिलकुल', 'निहायत', 'इन्हीं', 'उन्हीं', 'जितना', 'दूसरा', 'कितना', 'साबुत', 'वग़ैरह', 'कौनसा', 'लिये', 'दिया', 'जिसे', 'तिसे', 'काफ़ी', 'पहले', 'बाला', 'मानो', 'अंदर', 'भीतर', 'पूरा', 'सारा', 'उनको', 'वहीं', 'जहाँ', 'जीधर', '\ufeffके', 'एवं', 'कुछ', 'कुल', 'रहा', 'जिस', 'जिन', 'तिस', 'तिन', 'कौन', 'किस', 'संग', 'यही', 'बही', 'उसी', 'मगर', 'कर', 'मे', 'एस', 'उन', 'सो', 'अत', '']

In [ ]:
# loading the dataset to a pandas DataFrame
news_dataset = pd.read_csv('/content/drive/MyDrive/internship_project/Merged file.csv')

In [ ]:
news_dataset.shape

(6246, 3)

In [ ]:
# print the first 2 rows of the dataframe
news_dataset.head()

   Label                                              Title Unnamed: 2
0      1  Jagdalpur में पर्यटकों के साथ दुर्व्यवहार, नाव...        NaN
1      1  इस्तेमाल किए गए ग्रीन टी बैग्स को फेंकने से पह...        NaN
2      1  कार से निकलने लगे Gold बिस्किट, पटना में पकड़ा...        NaN
3      1  Bhagyam Astrology Special | Aaj Ka Panchang | ...        NaN
4      1  MP | Birthday पार्टी में Firing कर किया वीडियो...        NaN

In [ ]:
# counting the number of missing values in the dataset
news_dataset.isnull().sum()

Label            0
Title            0
Unnamed: 2    6245
dtype: int64

In [ ]:
X=news_dataset['Title']
Y=news_dataset['Label']

In [ ]:
print(X)

0       Jagdalpur में पर्यटकों के साथ दुर्व्यवहार, नाव...
1       इस्तेमाल किए गए ग्रीन टी बैग्स को फेंकने से पह...
2       कार से निकलने लगे Gold बिस्किट, पटना में पकड़ा...
3       Bhagyam Astrology Special | Aaj Ka Panchang | ...
4       MP | Birthday पार्टी में Firing कर किया वीडियो...
                              ...
6241    शशिकला को एक और झटका: चेन्नई कोर्ट ने खारिज की...
6242    बड़ी उपलब्धि: इस मामले में नीति आयोग ने गुजरात...
6243    पलटवार : राम के नाम पर राजनीति कर रही शिवसेना,...
6244    बंगाल में बवाल: नाबालिग से दुष्कर्म और हत्या म...
6245    तिनका जेल रेडियो : कुरुक्षेत्र जेल में भक्तिभा...
Name: Title, Length: 6246, dtype: object

In [ ]:
# from HindiTokenizer import Tokenizer
# import re
# def tokenize(txt):
#     tokens=re.split('\W+',txt)
#     return tokens
    
# news_dataset['Title']=news_dataset["Title"].apply(lambda x: tokenize(x))

In [ ]:
# def remove_stop(x):
#   return [ word for word in str(x).split() if word not in my_stopwords]
# news_stopword=news_dataset['Title'].apply(lambda x: remove_stop(x))

In [ ]:
# news_stopword

In [ ]:
# from nltk.tokenize import word_tokenize

Stemming:

Stemming is the process of reducing a word to its Root word

example: actor, actress, acting --> act

In [ ]:
print(Y)

0       1
1       1
2       1
3       1
4       1
       ..
6241    1
6242    1
6243    1
6244    1
6245    1
Name: Label, Length: 6246, dtype: int64

In [ ]:
import sys
import os

py_file_location = "/content/drive/MyDrive/internship_project"
sys.path.append(os.path.abspath(py_file_location))

In [ ]:
!python "/content/drive/MyDrive/internship_project/hindi_stemmer.py"

In [ ]:
stemmed_dataset = pd.read_csv('/content/drive/MyDrive/internship_project/stemed_file.csv')
print(stemmed_dataset)

      Label                                              Title Unnamed: 2
0         1  Jagdalpur म पर्यटक क साथ दुर्व्यवहार, नाव स सै...        NaN
1         1  इस्तेमाल क गए ग्रीन ट बैग्स क फेंकन स पहल जान ...        NaN
2         1  कार स निकलन लग Gold बिस्किट, पटन म पकड़ गय सव ...        NaN
3         1  Bhagyam Astrology Special | Aaj Ka Panchang | ...        NaN
4         1  MP | Birthday पार्ट म Firing कर किय वीडिय वायर...        NaN
...     ...                                                ...        ...
6241      1  शशिकल क एक और झटका: चेन्नई कोर्ट न खारिज क याच...        NaN
6242      1  बड़ उपलब्धि: इस मामल म नीत आयोग न गुजरात क दिय...        NaN
6243      1  पलटवार : राम क नाम पर राजनीत कर रह शिवसेना, के...        NaN
6244      1  बंगाल म बवाल: नाबालिग स दुष्कर्म और हत्य मामल ...        NaN
6245      1  तिनक जेल रेडिय : कुरुक्षेत्र जेल म भक्तिभाव स ...        NaN

[6246 rows x 3 columns]

Stopwords removal

In [ ]:
# print(all_stopwords)

In [ ]:
x=stemmed_dataset['Title'].values
print(x)

['Jagdalpur म पर्यटक क साथ दुर्व्यवहार, नाव स सैर करान वाल पर लग मनमान पैस वसूलन क आरोप'
 'इस्तेमाल क गए ग्रीन ट बैग्स क फेंकन स पहल जान ल उसक फायदे'
 'कार स निकलन लग Gold बिस्किट, पटन म पकड़ गय सव 2 करोड़ क सोना' ...
 'पलटवार : राम क नाम पर राजनीत कर रह शिवसेना, केंद्रीय मंत्र बोले- हिंदुत्व क पेटेंट कांग्रेस-राकांप क बेचा'
 'बंगाल म बवाल: नाबालिग स दुष्कर्म और हत्य मामल म सीबीआई जांच क मांग, भाजप न कल बंद क आह्वान किया'
 'तिनक जेल रेडिय : कुरुक्षेत्र जेल म भक्तिभाव स मन नवरात्र उत्सव, नवम पर बंदिय क भजन स गूंज परिसर']

In [ ]:
y=stemmed_dataset['Label'].values
print(y)

[1 1 1 ... 1 1 1]

## convert text to numericals

In [ ]:
vectorizer = TfidfVectorizer()
vectorizer.fit(x)

x = vectorizer.transform(x)

In [ ]:
print(x)

  (0, 3203)	0.2792416821290462
  (0, 3131)	0.23559773412731422
  (0, 3112)	0.18882263437440833
  (0, 3017)	0.43124599961489896
  (0, 2987)	0.4023562802145965
  (0, 2938)	0.36657310900821444
  (0, 2726)	0.26970166192210343
  (0, 2120)	0.15357259221229086
  (0, 1703)	0.23086335964209928
  (0, 835)	0.44609735750866253
  (1, 2994)	0.4865574918800907
  (1, 2756)	0.32996059287110885
  (1, 2185)	0.41004494074628767
  (1, 2103)	0.43824343021053846
  (1, 1893)	0.46265368967983195
  (1, 1799)	0.28309931140646377
  (2, 3346)	0.31317544966674965
  (2, 3112)	0.21906348584147914
  (2, 2709)	0.43451395535542364
  (2, 2701)	0.34225351664716414
  (2, 2224)	0.21053847773663828
  (2, 2131)	0.45174382951995945
  (2, 2120)	0.17816798018519778
  (2, 726)	0.5175419911086937
  (3, 2147)	0.3068765235743474
  :	:
  (6243, 3203)	0.46070839793663226
  (6243, 3095)	0.22456016456556976
  (6243, 2743)	0.6924878546636001
  (6243, 2726)	0.22248437202788007
  (6243, 2336)	0.3795841411123429
  (6243, 2120)	0.2533725709774355
  (6244, 3376)	0.3085656048912094
  (6244, 2956)	0.286727355033748
  (6244, 2850)	0.3912541301780927
  (6244, 2353)	0.34352346795434463
  (6244, 2130)	0.28606974766075766
  (6244, 2120)	0.1907338749595012
  (6244, 2071)	0.22958464908121898
  (6244, 1730)	0.5096014437010018
  (6244, 1633)	0.3476614298955662
  (6245, 3346)	0.265042915817731
  (6245, 3331)	0.21983921717457214
  (6245, 2934)	0.229631528294297
  (6245, 2874)	0.458551839845577
  (6245, 2867)	0.38828454170939775
  (6245, 2726)	0.2648061427647229
  (6245, 2682)	0.31962649433010965
  (6245, 2681)	0.3950528662725207
  (6245, 2631)	0.2685001970232101
  (6245, 1845)	0.2592588385158121

In [ ]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=0)
y_train

array([0, 0, 0, ..., 0, 0, 0])

Training and testing data

In [ ]:
model = LogisticRegression()

In [ ]:
model.fit(x_train, y_train)

LogisticRegression()

In [ ]:
x_train_prediction = model.predict(x_train)
training_data_accuracy = accuracy_score(x_train_prediction, y_train)

In [ ]:
print('Accuracy score of the training data : ', training_data_accuracy)

Accuracy score of the training data :  0.9159327461969575

In [ ]:
x_test_prediction = model.predict(x_test)
test_data_accuracy = accuracy_score(x_test_prediction, y_test)

In [ ]:
print('Accuracy score of the test data : ', test_data_accuracy)

Accuracy score of the test data :  0.8552

In [ ]:
print(classification_report(y_test,x_test_prediction))

              precision    recall  f1-score   support

           0       0.91      0.83      0.87       719
           1       0.80      0.89      0.84       531

    accuracy                           0.86      1250
   macro avg       0.85      0.86      0.85      1250
weighted avg       0.86      0.86      0.86      1250

In [ ]:
def fake_news_det(news):
    input_data = [news]
    vectorized_input_data = vectorizer.transform(input_data)
    prediction = model.predict(vectorized_input_data)
    print(prediction)
    if (prediction[0]==0):
      print('The news is Fake')
    else:
      print('The news is real')

In [ ]:
news=str(input())
fake_news_det(news)

मंधाना पहली करोड़पति...3.4 करोड़ रुपए में बेंगलुरु ने खरीदा, दीप्ति यूपी और रेणुका RCB में शामिल
[1]
The news is real